#calculator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

#button-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0;
}

button {
    height: 80px;
    text-align: center;
    line-height: 80px;
    background: #eee;
    outline: none;
    border: none;
    user-select: none;
    cursor: pointer;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
}

button:active {
    transform: scale(1.2);
    border: 1px solid rgba(0, 0, 0, .2);
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .2), 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12);
}

button:hover {
    background-color: lightgrey;
}

.operation {
    background-color: orangered;
}